.home-block-banner {

    .owl-carousel {

        .item {

            .img-responsive {
                width: 100%;
            }
        }
    }
}

.home-block-catalogue {
    padding: 50px 0px 40px 0px;

    .col-md-8 {
        padding-top: 40px;

        > .row {

            &:nth-of-type(1) {

                p {
                    margin: 45px 0px 0px 0px;
                    font-size: 14px;
                    color: #646464;
                }
            }

            &:nth-of-type(2) {

                .col-md-3 {
                    padding: 20px 10px;

                    img {
                        width: 100%;
                    }

                    h4 {
                        margin: 15px 0px 15px 0px;
                        font-weight: 500;
                        font-size: 15px;
                        color: #e33b0d;
                    }

                    a {
                        margin: 15px 0px 15px 0px;
                        padding-right: 15px;
                        text-decoration: none;
                        font-weight: 500;
                        font-size: 14px;
                        color: #000;
                        background: transparent url('../img/icon-arrow-black.png') right 3px no-repeat;
                    }
                }
            }
        }
    }

    .col-md-4 {

        .container-form {
            padding: 30px 25px 20px 25px;
            border: 1px solid #dadada;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;

            h2 {
                margin: 0px;
                text-align: center;
                font-weight: 700;
                font-size: 18px;
                color: #000;
            }

            p {
                margin: 0px;
                text-align: center;
                font-weight: 500;
                font-size: 16px;
                color: #d8261a;
            }

            .form-control {
                border-color: #dadada;
                box-shadow: none;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                border-radius: 6px;
            }

            .btn-default {
                margin-top: 10px;
                padding: 10px 40px;
                border: none;
                font-weight: 700;
                font-size: 16px;
                color: #FFF;
                background-color: #d8261a;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border-radius: 0px;
            }

            .col-md-6 {

                &:nth-of-type(1) {
                    padding-right: 8px;
                }

                &:nth-of-type(2) {
                    padding-left: 8px;
                }
            }
        }
    }
}

.home-block-products {

    a {

        img {
            width: 100%;
            margin: 35px 0px 40px 0px;
        }
    }
}

.home-block-other-products {
    padding-bottom: 45px;

    h3 {
        margin-bottom: 25px;
    }

    .row {

        &:nth-of-type(2) {

            .col-md-12 {
                padding: 0px 40px;
                
                .owl-carousel-products {
                    
                    img {
                        border: 1px solid #dadada;
                    }
                }

                .btn-owl-carousel-products {
                    width: 16px;
                    height: 29px;
                    top: 30px;
                    position: absolute;

                    &-left {
                        left: 15px;
                        background: transparent url('../img/icon-arrow-home-other-products-left.png') left center no-repeat;
                    }
                    &-right {
                        right: 15px;
                        background: transparent url('../img/icon-arrow-home-other-products-right.png') right center no-repeat;
                    }
                }
            }
        }
    }
}

.home-block-installation-warranty {
    padding-bottom: 25px;

    .row {
    
        .col-md-6 {

            &:nth-of-type(1) {
                
                h3 {
                    margin-bottom: 15px;
                }
                
                img {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }

            &:nth-of-type(2) {

                h3 {
                    margin-bottom: 25px;
                }

                ul {
                    list-style: none;
                    padding-left: 10px;

                    li {
                        margin: 12px 0px;
                        padding-left: 30px;
                        font-size: 13px;
                        color: #646464;
                        background: transparent url('../img/check-orange.png') left center no-repeat;
                    }
                }
            }
        }
    }
}

.home-block-recent-works {
    background-color: #fafafa;

    .col-md-12 {
    
        h3 {
            margin-top: -11px;         
        }
    }
    
    .col-md-10 {
        padding: 60px 15px 50px 15px;

        .carousel {

            .carousel-inner {
                
                .item {
                    
                    h3 {
                        margin: 0px;
                        padding: 10px 0px;
                        text-align: center;
                        font-weight: 500;
                        font-size: 18px;
                        color: #FFF;
                        background-color: #d8261a;
                    }
                }
            }

            .carousel-control {
                width: 40px;
                opacity: 1;
                
                &.left {
                    margin-left: -40px;
                    background: transparent url('../img/icon-arrow-home-recent-works-left.png') left 43% no-repeat;
                }
                &.right {
                    margin-right: -40px;
                    background: transparent url('../img/icon-arrow-home-recent-works-right.png') right 43% no-repeat;
                }
            }

            .carousel-indicators {
                bottom: 0px;
                margin-top: 35px;
                margin-bottom: 0px;
                position: relative;

                li {
                    width: 12px;
                    height: 12px;
                    margin: 0px 5px;
                    border-color: #ececec;
                    background-color: #ececec;

                    &.active {
                        margin: 0px 5px;
                        border-color: #ff6f4d;
                        background-color: #ff6f4d;
                    }
                }
            }
        }
    }
}

.home-block-satisfied-customers {
    padding: 35px 0px 25px 0px;

    .row {

        &:nth-of-type(2) {

            .col-md-12 {
                padding: 0px 150px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .container-img-satisfied-customers {
                    min-height: 90px;
                    margin-top: 30px;
                    padding: 0px 20px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

@media  (min-width: $screen-md) and (max-width: $screen-lg) {

    .home-block-satisfied-customers {

        .row {

            &:nth-of-type(2) {

                .col-md-12 {
                    padding: 0px 50px;
                }
            }
        }
    }
}

@media (max-width: $screen-md) {

    .home-block-catalogue {

        .col-md-8 {

            > .row {

                &:nth-of-type(2) {

                    .col-md-3 {
                        padding: 20px 15px;
                    }
                }
            }
        }

        .col-md-4 {

            .container-form {
                margin-top: 30px;

                .col-md-6 {

                    &:nth-of-type(1) {
                        padding-right: 15px;
                    }

                    &:nth-of-type(2) {
                        padding-left: 15px;
                    }
                }
            }
        }
    }

    .home-block-other-products {

        .row {

            &:nth-of-type(2) {

                .col-md-12 {

                    .btn-owl-carousel-products {
                        top: 25px;
                    }
                }
            }
        }
    }

    .home-block-satisfied-customers {

        .row {

            &:nth-of-type(2) {

                .col-md-12 {
                    padding: 0px 15px;
                }
            }
        }
    }
}

@media (max-width: $screen-sm) {

    .home-block-catalogue {
        padding: 40px 0px;
        
        .col-md-8 {
            padding-top: 0px;

            > .row {

                &:nth-of-type(1) {

                    p {
                        margin: 20px 0px 0px 0px;
                    }
                }

                &:nth-of-type(2) {

                    .col-md-3 {
                        padding: 20px 15px;
                    }
                }
            }
        }
    }

    .home-block-other-products {

        .row {

            &:nth-of-type(2) {

                .col-md-12 {
                    padding: 0px 15px;

                    .btn-owl-carousel-products {
                        display: none;
                    }
                }
            }
        }
    }

    .home-block-recent-works {
        
        .col-md-10 {
            padding: 30px 15px;

            .carousel {

                .carousel-control {
                    display: none;
                }
            }
        }
    }

    .home-block-satisfied-customers {

        .row {

            &:nth-of-type(2) {

                .col-md-12 {
                    flex-direction: column;
                    justify-content: center;

                    .container-img-satisfied-customers {
                        padding: 0px 10px;
                    }
                }
            }
        }
    }
}