.products-block-btn {

    .col-md-12 {
        padding: 25px 40px 10px 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: baseline;
        flex-wrap: wrap;

        .btn-section-products {
            margin-right: 12px;
            margin-bottom: 15px;
            text-decoration: underline;
            font-size: 14px;
            color: #646464;

            &.active,
            &:hover {
                color: #e33b0d;
            }
        }
    }

    &.complement {

        .col-md-12 {
            justify-content: center;
        }
    }
}

.products-block-list {
    padding-bottom: 120px;

    .row {

        .col-md-12 {
    
            hr {
                margin: 15px 0px;
            }
        }
        
        .col-md-6 {
            padding: 25px 15px;

            &:nth-of-type(1) {

                .img-responsive {
                    width: 100%;
                }
            }

            &:nth-of-type(2) {
                padding: 50px 60px;
                
                h2 {
                    margin: 0px 0px 12px 0px;
                    font-weight: 500;
                    font-size: 18px;
                    color: #e33b0d;
                }

                h4 {
                    margin: 0px 0px 20px 0px;
                    font-weight: 300;
                    font-size: 14px;
                    color: #000;
                }

                p {
                    margin: 0px 0px 20px 0px;
                    font-size: 14px;
                    color: #646464;
                }

                .btn-default {
                    margin: 0px;
                    padding: 10px 30px;
                    border: none;
                    background-color: #d8261a;
                    font-weight: 700;
                    font-size: 12px;
                    color: #FFF;
                    -webkit-border-radius: 0px;
                    -moz-border-radius: 0px;
                    border-radius: 0px;
                }
            }
        }

        &:nth-of-type(1) {

            hr {
                margin-top: 0px;
                border-color: #d8261a;
            }
        }
    }
}

@media (max-width: $screen-sm) {

    .products-block-list {
        padding-bottom: 30px;

        .row {
            
            .col-md-6 {

                &:nth-of-type(2) {
                    padding: 0px 15px 25px 15px;
                }
            }
        }
    }
}